@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* Navigation section */

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 100px 0;
}

#logo{
    height: 30px;
}

.list{
    display: flex;
    gap: 43px;
    list-style: none;
}
.list li{
    cursor: pointer;
}
.list li a{
    color:black ;
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
}
.btn button a{
    color: white;
    padding:15px ;
    font-size: 12px;
}
.btn button{
    background-color: #5a56b3;
    border: none;
    border-radius: 6px;
    height: 30px;
    font-family: "Poppins";
    cursor: pointer;
}
button:hover{
    background-color: white;
    border: 2px solid #5a56b3;
}
button a:hover{
    color: #5a56b3;
    font-weight: 600;
}

/* Hero section */

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
}

span{
    color: #5955B3;
}
.left{
    min-width: 30vw;
}
.text{
    padding: 50px 0 0 0;
    font-family: "Poppins";
}
.small-text{
    padding-top: 15px;
    font-family: "Poppins";
}
.small-text {
    font-size: 10px;
}
.serbtn{
    padding-top: 30px;
}

.right-image img{
    height: 400px;
}
